html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    background: rgb(149,194,215);
}

a {
    text-decoration: none;
}

.logo-text {
    background: white;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Bungee', cursive;
    font-size: 37px;
}

.main-header {
    flex: 0 1 auto;
}
.main-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.thumbnail-title {
    background: rgb(96,125,139);
    color: rgb(202, 238, 255);
    display: block;
    margin: 0px;
    padding: 4px 10px;
    font-size: 18px;
}

.thumbnail-item {
    display: inline-block;
    min-width: 120px;
    max-width: 120px;
    border: 1px solid rgb(100%, 100%, 100%);
    border: 1px solid rgba(100%, 100%, 100%, .08);   
}

.thumbnail-list {
    flex: 0 1 auto;
    order: 2;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    white-space: nowrap;
    overflow-x: auto;
  }


.thumbnail-image {
    width: 100%;
    display: block;
}



#barry{
    background:darkgreen;
}
#robin {
    background: blue;
}
#maurice {
    background: darkorchid
}
#lesley {
    background: red;
}
#barbara {
    background: yellow;
}



.detail-image-container {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-image {
    width: 90%
}

.detail-image-frame {
    position: relative;
    text-align: center;
    
}

.detail-image-title {
    position: absolute;
    bottom: -16px;
    left: 4px;
    color: white;
    font-size: 40px;
    font-family: 'Pacifico', cursive;
    text-shadow: rgba(0,0,0,0.9) 1px 2px 9px;
}




