
body {
    /* font-family: Arial, Helvetica, sans-seriw */
    font-size: 10px;
    background: rgb(149,194,215);
}

a {
    text-decoration: none;
}

.logo-text {
    background: white;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Bungee', cursive;
    font-size: 37px;
}

.thumbnail-item {
    display: inline-block;
    width: 120px;
    border: 1px solid rgb(100%, 100%, 100%);
    border: 1px solid rgba(100%, 100%, 100%, .08);   
}

/* adds margin-top to every .thumbnail-item but the first */
.thumbnail-item + .thumbnail-item {
    margin-top: 10px;
}

#barry{
    background: green;
}
#robin {
    background: blue;
}
#maurice {
    background: darkorchid
}
#lesley {
    background: red;
}
#barbara {
    background: orange
}


.thumbnail-list {
    list-style: none;
    padding: 0px;
}

.thumbnail-image {
    width: 100%;
    display: block;

}

.thumbnail-title {
    background: rgb(96,125,139);
    color: rgb(202, 238, 255);
    display: block;
    margin: 0px;
    padding: 4px 10px;
    font-size: 18px;
}

.detail-image {
    width: 90%
}

